{% extends "layout.html" %}
{% block content %}

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
    Sort By
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="Asc">Low-High</a>&nbsp|
    <a class="dropdown-item" href="Desc">High-Low</a>&nbsp|
    <a class="dropdown-item" href="AZ">A-Z</a>&nbsp|
    <a class="dropdown-item" href="ZA">Z-A</a>&nbsp
</div>

  {% for item in items %}
<div style="float:left; margin:40px; width: 295px; padding: 40px;">
  <a href="{{ url_for('item', item_id=item.id) }}">
  	<img src = "{{ url_for('static', filename='img/' + item.image_file) }}" width="300" height="300"></a>
      <a href="{{ url_for('item', item_id=item.id) }}">"{{ item.title }}"</a>
      <p>Price (£): {{ item.price }}</p>
    <a class="" href="/add_to_basket/{{item.id}}">
        <button>Add to Basket</button></a>&nbsp<br/>
    <a class="" href="/add_to_wishlist/{{item.id}}">
        <button>Add to Wishlist</button></a>&nbsp

</div>
  {% endfor %}
</div>
<h1> StationaryFix@hotmail.co.uk  | 01633 123456 </h1>
{% endblock content %}
